@mixin grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
}
@mixin font {
  font-size: $font-size-meduim;
  text-transform: capitalize;
}
.properties {
  grid-column: full-start / full-end;
  margin: 5rem 0;
  &__heading {
    margin-bottom: 5rem;
  }
}
.img_box img {
  width: 100%;
  display: block;
  aspect-ratio: 4/3;
}
.img_box {
  font-family: $font-display;
  width: 92%;
  margin: 0 auto;
  &__main--div {
    position: relative;
  }
  &__main--span {
    display: inline-block;
    position: absolute;
    width: 25%;
    top: 2rem;
    left: 65%;
    @include font;
    background: $misty-rose;
    padding: 0.5rem;
    text-align: center;
  }
  &__padding {
    padding: 1.5rem;
    background: $misty-rose;
  }
  &__price {
    @include grid;
    font-size: 2.5rem;
    text-transform: capitalize;

    color: $color-primary;
    margin: 1rem 0;
  }
  &__btn {
    border: none;
    background: $bg-colour;
    @include font;
    color: $color-secondary;
    &:hover {
      background-color: $color-primary;
    }
  }
  &__subheading {
    @include font;
  }
  &__details--div {
    @include grid;
  }
  &__info {
    @include font;
    margin-top: 2rem;
  }
  &__realtor--contact {
    width: 95%;
    font-size: $font-size-small;
    text-transform: uppercase;
    font-weight: 700;
    background: $color-primary;
    border: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    place-items: center;
    padding: 1.5rem 1rem;
    a {
      color: $color-secondary;
      margin-right: 0.5rem;
      font-size: $font-size-large;
    }
  }
}
.swiper-btn {
  margin: 0 -1rem;
}
