@mixin grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin font {
  font-size: $font-size-small;
  text-transform: capitalize;
}
@mixin padding {
  padding: 0 2.5rem;
}
@mixin font2 {
  font-size: $font-size-meduim;
  text-transform: capitalize;
  padding: 0 2rem;
  margin: 1rem 0;
}
@mixin position {
  position: absolute;
  height: auto;
  width: auto;
}
.splide__slide--img-container img {
  width: 100%;
  display: block;
  position: relative;
}
.properties {
  grid-column: 1 / -1;
  margin: 5rem;
  &__heading {
    margin-bottom: 5rem;
  }
}
.splide__slide {
  background: $seashell;
  color: $raisin-black-2;
  box-shadow: $shadow-1;
  &--type {
    @include position;
    top: 0;
    right: 1rem;
    margin: 2rem;
    padding: 0.5rem 1rem;
    text-align: end;
    @include font;
    background: $seashell;
  }
  &--location {
    @include position;
    @include font;
    top: 40%;
    color: $white;
    margin: 0 1rem;
    font-weight: 700;
  }
  &--price {
    @include grid;
    margin: 2rem 0 0.5rem 0;
    color: $orange-soda;

    a {
      font-size: $font-size-mid-large;
      @include padding;
      color: $orange-soda;
    }
  }
  &--heading-5 {
    @include font2;
    @include padding;
  }
  &--text {
    @include font;
    @include padding;
  }
  &--facilities {
    @include grid;
    @include font;
    @include padding;
    margin-bottom: 0.7rem;
    aside {
      &:not(:last-child) {
        border-right: 1px solid $raisin-black-2;
        padding-right: 1.5rem;
      }
    }
  }
  &--realtor {
    @include grid;
    padding: 1.5rem 0;
    border-top: 1px solid $color-grey-light-2;
    padding: 0.7rem 1.5rem;
    @include font;
    &-details {
      @include grid;
    }
  }
  &--realtor-img {
    width: 4rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
  &--heading {
    @include grid;
    font-weight: 700;
  }
  &--contact-info {
    color: $color-primary;
    a {
      color: $raisin-black-2;
      font-size: $font-size-meduim;
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}
